<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Lista de mecanicos</ion-title>



    <ion-buttons slot="end">
      <ion-button color="primary" [routerLink]="['/agregar-mecanico']">
        Agregar
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item *ngFor="let mecanico of listaMecanico">
      <ion-label>
        <h2>{{ mecanico.nombre }}</h2>
        <img [src]="mecanico.imagen">
        <p>Localidad: {{ mecanico.localidad }}</p>
        <p>Especialidad:{{ mecanico.especialidad }}</p>
        <p>Contacto:{{ mecanico.contacto }}</p>
        <p>Mail:{{ mecanico.mail }}</p>

      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>