<ion-header>
  <ion-toolbar>
    <ion-title>Recuperar Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form id="emailForm">
    <ion-item>
      <ion-label position="floating">Correo Electrónico</ion-label>
      <ion-input type="email" id="email"></ion-input>
    </ion-item>
    <ion-text color="danger" id="emailError" hidden>
      Introduzca un email válido.
    </ion-text>

    <!-- Botón para enviar -->
    <ion-button expand="block" id="submitEmailBtn">Enviar</ion-button>
  </form>

  <!-- Toast para mostrar el mensaje de éxito -->
  <ion-toast id="successToast" duration="3000" color="success"></ion-toast>
</ion-content>
