<ion-header>
  <ion-toolbar>
    <ion-title>Iniciar Sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Nombre de usuario</ion-label>
    <ion-input [(ngModel)]="username"></ion-input>
  </ion-item>
  <p *ngIf="usernameError" class="error-text">El nombre de usuario debe tener al menos 3 caracteres.</p>

  <ion-item>
    <ion-label position="floating">Contraseña</ion-label>
    <ion-input [(ngModel)]="password" type="password"></ion-input>
  </ion-item>
  <p *ngIf="passwordError" class="error-text">
    La contraseña debe tener al menos 8 caracteres, una letra mayúscula y 4 números.
  </p>

  <ion-button expand="block" (click)="iniciarSesion()">Iniciar Sesión</ion-button>
  <ion-button expand="block" color="medium" (click)="openModal()">¿Olvidaste tu contraseña?</ion-button>
</ion-content>
