<ion-header>
  <ion-toolbar>
    <ion-title>Iniciar Sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form id="loginForm">
    <ion-item>
      <ion-label position="floating">Nombre de Usuario</ion-label>
      <ion-input type="text" id="username"></ion-input>
    </ion-item>
    <ion-text color="danger" id="usernameError" hidden>
      El nombre de usuario debe tener al menos 3 caracteres.
    </ion-text>

    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="password" id="password"></ion-input>
    </ion-item>
    <ion-text color="danger" id="passwordError" hidden>
      La contraseña debe contener Mayuscula, 3 letras y 4 numeros como minimo.
    </ion-text>

    <ion-button id="submitBtn" expand="block">
      Iniciar Sesión
    </ion-button>

       <!-- Botón para abrir el modal de recuperación de contraseña -->
    <div class="ion-text-center">
      <ion-button fill="clear" color="primary" (click)="openModal()">¿Olvidaste tu contraseña?</ion-button>
    </div>
  </form>
</ion-content>
