.logo{
  width: 25%;
  margin-top: 15px;
  margin-left: 15px;
  margin-bottom: 15px;
  
}
.titulologo{
    font-family: 'Silkscreen', cursive;
    font-size: 28px;
}
.search{
  margin-top: 15px;
}

#map{
  overflow:hidden;
  padding-bottom:100%;
  position:relative;
  height:0;
}

.boton{
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 15px;
  margin-right: 15px;
  color: rgb(30, 120, 255);
}

.boton2{
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 2px;
  margin-right: 2px;
  color: rgb(30, 120, 255);
}

.btm{
  height: 30px;
}

ion-icon {
  font-size: 27px;
}

.logo {
  width: 400px; /* Ajusta el tamaño del logo según tu preferencia */
  position: absolute;
  top: 100px; /* Ajusta esta distancia según la altura del buscador */
  left: 50%;
  transform: translateX(-50%);
  z-index: 1; /* Asegura que el logo esté encima del fondo */
  opacity: 0.5; /* Ajusta la opacidad para que se fusione con el contenido */
}

ion-content {
  position: relative;
}
