<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/factura"></ion-back-button>  
    </ion-buttons>
    <ion-title>Ficha Vehículo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h2>Información del Vehículo</h2>

  <ion-list>
    <ion-item>
      <ion-label><strong>Matrícula:</strong></ion-label>
      <p>{{ datosVehiculo.matricula }}</p>
    </ion-item>
    <ion-item>
      <ion-label><strong>Marca del Automóvil:</strong></ion-label>
      <p>{{ datosVehiculo.marcaAuto }}</p>
    </ion-item>
    <ion-item>
      <ion-label><strong>Fecha Seleccionada:</strong></ion-label>
      <p>{{ datosVehiculo.fecha }}</p>
    </ion-item>
  </ion-list>

  <!-- Botón Confirmar -->
  <ion-button expand="block" (click)="confirmar()">Confirmar</ion-button>
</ion-content>
